<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<title>Index</title>
</head>
<body style="background-color: cyan;">

<h2> <center> Welcome to Mini Mart </center> </h2>

<br> <br> <br> <br> <br> <br>

<a th:href= "@{/product/application}">

<span> <strong> <em> Show the product details </em> </strong> </span> </a>

<br> <br>

<a th:href= "@{/product/application}">

<span> <strong> <em> Enter the product details </em> </strong> </span> </a>

<br> <br>

<a th:href= "@{/product/application}">

<span> <strong> <em> Update the product details </em> </strong> </span> </a>

<br> <br>

<a th:href= "@{/product/application}">

<span> <strong> <em> Delete the product details </em> </strong> </span> </a>

<br> <br>

<a th:href= "@{/product/application}">

<span> <strong> <em> Go to the application </em> </strong> </span> </a>


<style type="text/css">
label{
width: 150px;
display: inline-block;
}
</style>

</body>
</html>